body {
	line-height: 1.5;
	background-color: hsl(220, 14%, 75%);
	font-family: 'speciman', sans-serif;
}

.full-section {
	width: 90%;
	margin: 3rem auto;
	background-color: hsl(0, 0%, 100%);
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 20px;
	z-index: 100;
	left: 0;
	margin-top: 20px;
}

ul {
	display: flex;
	justify-content: space-between;
	list-style: none;
	align-items: center;
}

ul li {
	padding-left: 1rem;
	align-items: center;
	color: hsl(220, 14%, 75%);
}

li img {
	height: 40px;
	width: 40px;
}

#cart {
	margin-top: 10px;
}

#nav-menu {
	display: flex;
	width: 10%;
	margin-right: 10px;
	justify-content: space-between;
	padding-left: 1rem;
	list-style: none;
	margin-top: 20px;
	position: relative;
	left: 350px;
}

.card-wrapper {
	max-width: 1440px;
	margin: 3rem auto;
}
.img {
	width: 100%;
	display: block;
}
.img-display {
	overflow: hidden;
}
.img-showcase {
	display: flex;
	width: 100%;
	transition: all 0.5s ease;
}
.img-showcase img {
	min-width: 100%;
}
.img-select {
	display: flex;
}
.img-item {
	margin: 0.3rem;
}
.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3) {
	margin-right: 0;
}
.product-details h6 {
	color: Orange;
}
.product-details p {
	font-size: 16px;
	margin-top: 10px;
}
.product-details .price {
	font-weight: bold;
	margin-top: 10px;
}
.product-details span {
	color: orange;
}
